nav {color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
    }

h1 {
    color: olivedrab
}

h2  {
    color: olivedrab;
}

p {
    font-family: sans-serif;
}